# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
/build/
/dist/
/out/

# React build (client)
client/build/
client/.env

# Truffle build (blockchain)
blockchain/build/
blockchain/.env
blockchain/.openzeppelin/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db
